@model Swp.Model.Zolnierz

@{
    ViewData["Title"] = "Dodaj";
}

<h2>Dodaj</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Idgrupy" class="control-label">Nr grupy</label>
                <select asp-for="Idgrupy" class ="form-control" asp-items="ViewBag.Idgrupy"></select>
            </div>
            <div class="form-group">
                <label asp-for="Stopien" class="control-label">Stopień</label>
                <select asp-for="Stopien" class="form-control" asp-items="(IEnumerable<SelectListItem>)@ViewData["Stopnie"];"></select>
            </div>
            <div class="form-group">
                <label asp-for="Imie" class="control-label">Imię</label>
                <input asp-for="Imie" class="form-control" />
                <span asp-validation-for="Imie" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nazwisko" class="control-label">Nazwisko</label>
                <input asp-for="Nazwisko" class="form-control" />
                <span asp-validation-for="Nazwisko" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Adres" class="control-label">Adres</label>
                <input asp-for="Adres" class="form-control" />
                <span asp-validation-for="Adres" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Imieojca" class="control-label">Imię ojca</label>
                <input asp-for="Imieojca" class="form-control" />
                <span asp-validation-for="Imieojca" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Imiematki" class="control-label">Imię matki</label>
                <input asp-for="Imiematki" class="form-control" />
                <span asp-validation-for="Imiematki" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pesel" class="control-label">PESEL</label>
                <input asp-for="Pesel" class="form-control" />
                <span asp-validation-for="Pesel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Numertelefonu" class="control-label">Nr telefonu</label>
                <input asp-for="Numertelefonu" class="form-control" />
                <span asp-validation-for="Numertelefonu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Dodaj" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Powrót</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
