@model Swp.Model.Zolnierz

@{
    ViewData["Title"] = "Usuń";
}

<h3>Czy na pewno usunąć?</h3>
<div>
    <h4>@Html.DisplayFor(model => model.StopienString) @Html.DisplayFor(model => model.Imie) @Html.DisplayFor(model => model.Nazwisko)</h4>
   
    <form asp-action="Delete">
        <input type="hidden" asp-for="Idzolnierza" />
        <input type="submit" value="Usuń" class="btn btn-default" /> |
        <a asp-action="Index">Powrót</a>
    </form>
</div>
