@model Swp.Model.Zolnierz

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Zolnierz</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Idzolnierza" />
            <div class="form-group">
                <label asp-for="Idgrupy" class="control-label"></label>
                <select asp-for="Idgrupy" class="form-control" asp-items="ViewBag.Idgrupy"></select>
                <span asp-validation-for="Idgrupy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Stopien" class="control-label"></label>
                <select asp-for="Stopien" class="form-control" asp-items="(IEnumerable<SelectListItem>)@ViewData["Stopnie"];"></select>
            </div>
            <div class="form-group">
                <label asp-for="Imie" class="control-label"></label>
                <input asp-for="Imie" class="form-control" />
                <span asp-validation-for="Imie" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nazwisko" class="control-label"></label>
                <input asp-for="Nazwisko" class="form-control" />
                <span asp-validation-for="Nazwisko" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Adres" class="control-label"></label>
                <input asp-for="Adres" class="form-control" />
                <span asp-validation-for="Adres" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Imieojca" class="control-label"></label>
                <input asp-for="Imieojca" class="form-control" />
                <span asp-validation-for="Imieojca" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Imiematki" class="control-label"></label>
                <input asp-for="Imiematki" class="form-control" />
                <span asp-validation-for="Imiematki" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pesel" class="control-label"></label>
                <input asp-for="Pesel" class="form-control" />
                <span asp-validation-for="Pesel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Numertelefonu" class="control-label"></label>
                <input asp-for="Numertelefonu" class="form-control" />
                <span asp-validation-for="Numertelefonu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
