@model Swp.Model.Bron

@{
    ViewData["Title"] = "Usuń";
}

<h3>Czy na pewno usunąć?</h3>
<div>
    <h4> @Html.DisplayFor(model => model.Nazwabroni) @Html.DisplayFor(model => model.Idbroni)</h4>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Idbroni" />
        <input type="submit" value="Usuń" class="btn btn-default" /> |
        <a asp-action="Index">Powrót</a>
    </form>
</div>
