@model Swp.Model.Bron

@{
    ViewData["Title"] = "Edytuj";
}

<h2>Edycja danych broni</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Idbroni" />
            <div class="form-group">
                <label asp-for="Idzolnierza" class="control-label">Imię i nazwisko</label>
                <select asp-for="Idzolnierza" class="form-control" asp-items="(IEnumerable<SelectListItem>)@ViewData["Idzolnierza"]"></select>
                <span asp-validation-for="Idzolnierza" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nazwabroni" class="control-label">Nazwa broni</label>
                <input asp-for="Nazwabroni" class="form-control" />
                <span asp-validation-for="Nazwabroni" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StanBroni" class="control-label">Stan broni</label>
                <input asp-for="StanBroni" class="form-control" />
                <span asp-validation-for="StanBroni" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Zapisz" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Powrót</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
