@model Swp.Model.Grupa

@{
    ViewData["Title"] = "Usuń";
}


<h3>Czy na pewno usunąć?</h3>
<div>
    <h4>@Html.DisplayFor(model => model.Idgrupy)</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Specjalność
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nazwagrupy)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Idgrupy" />
        <input type="submit" value="Usuń" class="btn btn-default" /> |
        <a asp-action="Index">Powrót</a>
    </form>
</div>
