@model Swp.Model.Grupa

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Grupa</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Nazwagrupy)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nazwagrupy)
        </dd>
    </dl>

    <table class="table">
        <thead>
            <tr>
                <th>
                    Data
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Zajecie.OrderBy(c => c.Datazajecia))
            {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Datazajecia)
    </td>
</tr>
}
        </tbody>
    </table>
</div>