@model Swp.Model.Grupa

@{
    ViewData["Title"] = "Plan zajęć";
}

<h2>Plan zajęć</h2>

<div>
    <h4>@Html.DisplayFor(model => model.Idgrupy)</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            Specjalność
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nazwagrupy)
        </dd>
    </dl>

    <table class="table">
        <thead>
            <tr>
                <th>
                    Data
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Zajecie.OrderBy(c => c.Datazajecia))
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Datazajecia)
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div>
        <a asp-action="Index">Powrót</a>
    </div>
</div>