@model List<Swp.Model.Sluzba>
@{
    ViewData["Title"] = "Sluzby";
    IEnumerable<Swp.Model.Uzytkownik> logged = ViewData["Logged"] as IEnumerable<Swp.Model.Uzytkownik>;

}

<h2>Ewidencja służb</h2>
<p>
    <a asp-action="Create">Dodaj</a>
</p>

<hr />
<calendar month="@((int)ViewData["Month"])" year="@DateTime.Now.Year" events="@Model" role="@logged.Where(z => z.Iduzytkownika.ToString() == User.FindFirst(System.Security.Claims.ClaimTypes.NameIdentifier).Value).Select(a => a.IdroliNavigation.Nazwa).FirstOrDefault()" />
