@model IEnumerable<Swp.Model.Wiadomosc>

@{
    ViewData["Title"] = "Wiadomości";
}

<h2>Wiadomości</h2>

<table class="table">
    <thead>
        <tr>
            <th>
               
            </th>
            <th>
                
            </th>
            <th>
                
            </th>
        </tr>
    </thead>
    <tbody>

        <tr>
            <td>
                <!--<a asp-action="Create" asp-route-id=>Wyslij</a>-->
                <button type="button" onclick="location.href='@Url.Action("Utworz", "Wiadomosci")'">Utwórz</button>

            </td>
    <td>
        <!--<a asp-action="Odebrane" asp-route-id=>Odebrane</a>-->
                <button type="button" onclick="location.href='@Url.Action("Odebrane", "Wiadomosci")'">Odebrane</button>
            </td>
    <td>
        <!--<a asp-action="Wyslane" asp-route-id=>Wysłane</a>-->
        <button type="button" onclick="location.href='@Url.Action("Wyslane", "Wiadomosci")'">Wyslane</button>
    </td>


            </tr>

        </tbody>
    </table>
